.FooterContainer {
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #2c2c2c, #2c2c2c);
}

.FooterSubscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
    width: 100%;
}

.FooterSubHeading {
    font-family: "Trebuchet MS", "Lucida Sans Unicode",
        "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-bottom: 24px;
    font-size: 24px;
}
.FooterSubText {
    margin-bottom: 24px;
    font-size: 20px;
}

.Form {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 820px) {
        flex-direction: column;
        width: 80%;
    }
}

.SocialIcon {
    margin-right: 0.2rem;
    width: 140px;
}

.Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.Row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 1000px) {
    .Row {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

.Column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 40px;
}

.Subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    color: #fff;
    width: 100%;
}

.AppLogo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.Appicon {
    margin-right: 0.2rem;
    width: 150px;
}

.SubHeading {
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 24px;
    font-size: 15px;
}

.Title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: bold;
}

.Tautan {
    cursor: pointer;
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    text-decoration: none;
}

.Tautan:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
}

.SocialMedia {
    max-width: 1000px;
    width: 100%;
}

.SocialMediaWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}

.WebsiteRights {
    color: #fff;
    margin-bottom: 16px;
}

.SocialIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.SocialIconLink {
    color: #fff;
    font-size: 24px;
}
